<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName">
    </div>
    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName">
    </div>

    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
    </div>
    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="street">Street:</label>
        <input type="text" id="street" formControlName="street">
    </div>

    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="city">City:</label>
        <input type="text" id="city" formControlName="city">
    </div>
    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="state">Select a State:</label>
        <select id="state" formControlName="state">
            <option *ngFor="let state of states" [value]="state.abbreviation">{{ state.name }}</option>
        </select>
    </div>

    <div style="margin: 0 0 8px 20px;">
        <label for="frequency">Contact Frequency:</label>
        <select id="frequency" formControlName="frequency">
            <option *ngFor="let freq of contactFrequencies" [value]="freq.id">{{ freq.description }}</option>
        </select>
    </div>
    <div style="margin: 0 20px; display: flex; justify-content: space-between;">
        <label for="zip">ZIP:</label>
        <input type="number" id="zip" formControlName="zip">
    </div>

    <input hidden type="text" id="uuid" formControlName="uuid">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>