<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName">

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">

    <label for="street">Street:</label>
    <input type="text" id="street" formControlName="street">

    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city">

    <label for="state">State:</label>
    <input type="text" id="state" formControlName="state">

    <label for="zip">ZIP:</label>
    <input type="number" id="zip" formControlName="zip">

    <input hidden type="text" id="uuid" formControlName="uuid">

    <button type="submit">Submit</button>
</form>